<!DOCTYPE html>
<html lang="en">

<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the apple mobile web app capable -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the apple mobile web app status bar style -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- set the description -->
	<meta name="description" content="Be - Startup Business HTML Template">
	<meta name="keywords"
		content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">
	<meta name="author" content="Be - Startup Business HTML Template">
	<!-- Page Title -->
	<!-- Page Title -->
	<title>SMARTBLOCKTECH</title>
	<!-- icon website in the root directory -->
	<link rel="icon" type="image/x-icon" href="../documentation/SBT32.ico">
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CWork+Sans:300,400,500,600" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/fonts-icons.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugin-resets.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/color.css">
	<!-- Font Awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<!-- start of main page wrapper -->
	<div id="wrapper">
		<!-- start of preloader -->
		<div class="loader-container" id="loader">
			<div class="spinner spinner-round"></div>
		</div><!-- end of preloader -->
		<div class="w1">
			<!-- start of page header -->
			<header id="header" class="nospace">
				<!-- header holder -->
				<div class="header-holder border">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<!-- Page logo -->
								<div class="logo pull-left">
									<a href="index.html">
										<img src="../documentation/Logo_SBT.png" alt="">
										SMART<span style="font-weight: 400;">BLOCKTECH</span>
									</a>
								</div>
								<div class="holder pull-right">
									<a href="#" class="pe-7s-menu menu-opener opener pull-right visible-xs"></a>
									<div class="cart-holder pull-right">
										<div class="drop-sub">
											<!-- side widget start here -->
											<div class="side-widget">
												<!-- cart row start here -->
												<div class="cart-row">
													<a href="#" class="img"><img src="http://placehold.it/50x50"
															alt="image" class="img-responsive"></a>
													<div class="mt-h">
														<span class="mt-h-title"><a href="#">Classic Handbag</a></span>
														<span class="price">1 × $48.00</span>
													</div>
													<a href="#" class="close pe-7s-close"></a>
												</div><!-- cart row end here -->
												<!-- cart row start here -->
												<div class="cart-row">
													<a href="#" class="img"><img src="http://placehold.it/50x50"
															alt="image" class="img-responsive"></a>
													<div class="mt-h">
														<span class="mt-h-title"><a href="#">Stylish Hat</a></span>
														<span class="price">2 × $18.00</span>
													</div>
													<a href="#" class="close pe-7s-close"></a>
												</div><!-- cart row end here -->
												<!-- cart row start here -->
												<div class="cart-row">
													<a href="#" class="img"><img src="http://placehold.it/50x50"
															alt="image" class="img-responsive"></a>
													<div class="mt-h">
														<span class="mt-h-title"><a href="#">Modern Shoes</a></span>
														<span class="price">1 × $50.00</span>
													</div>
													<a href="#" class="close pe-7s-close"></a>
												</div><!-- cart row end here -->
												<!-- cart row total start here -->
												<div class="cart-row-total">
													<span class="mt-total pull-left">SubTotal</span>
													<span class="mt-total-txt pull-right">$ 134.00</span>
												</div>
												<!-- cart row total end here -->
												<div class="cart-btn-row">
													<a href="#" class="btn-add btn">VIEW CART</a>
													<a href="#" class="btn-full btn">CHECKOUT</a>
												</div>
											</div><!-- mt side widget end here -->
										</div>
									</div>

									<!-- start of page navigation -->
									<nav id="nav" class="text-uppercase">
										<ul class="list-inline">
											<li><a href="home1.html">Home</a></li>
											<li class="active"><a href="about.html">About Us</a></li>
											<li>
												<a class="drop-link" href="#">Projects</a>
												<div class="drop">
													<ul class="list-unstyled">
														<li><a href="p-trade_mission-detail.html">Trade Mission</a></li>
														<li><a href="p-bitenium-detail.html">Bitenium</a></li>
														<li><a href="p-ekyc-detail.html">E-kyc Solution</a></li>
														<li><a href="p-superrich_crypto-detail.html">Superrich
																Crypto</a></li>
														<li><a href="p-chatnshops-detail.html">Chatnshops</a></li>
														<li><a href="p-cryptoXpress-detail.html">CryptoXpress</a></li>
													</ul>
												</div>
											</li>
											<li><a href="our_products.html">Our Products</a></li>
											<li><a href="contact.html">Contacts</a></li>
										</ul>
									</nav><!-- end of page navigation -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</header><!-- end of page header -->
			<!-- end of search-popup -->

			<!-- start of page main section -->
			<main id="main">
				<!-- start of page-header -->
				<div class="page-header text-center bg-img-full"
					style="background-image: url(../template/images/image_page010806.png);">
					<div class="pad-top-lg hidden-sm"></div>
					<span class="bg-overlay"></span>
					<div class="container pad-top-lg pad-bottom-lg">
						<div class="row pad-top-md pad-bottom-xs">
							<div class="col-xs-12">
								<h1 class="heading">Who we are</h1>
							</div>
						</div>
					</div>
					<div class="pad-top-lg hidden-sm"></div>
				</div><!-- end of page-header -->

				<!-- start of wedo section -->
				<section class="bg-grey wedo-section add">
					<div class="pad-top-lg hidden-sm"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-5 col-xs-12 appear2">
								<!-- start of main-heading -->
								<header class="main-heading mar-bottom-xs">
									<h2 class="heading">About Us Smartblocktech</h2>
									<p class="text-justify">
										As an experience existing equity software provider to
										brokerage company in Thailand which strives crypto
										express to empower our client easy access to all B2B
										blockchain white label and machine learning platforms
										for the digital asset and fintech industry
									</p>
									<br>
									<ul class="text-list">
										<li class="text-justify">
											To expand and leverage on AI Crypto platform.
										</li>
										<li class="text-justify">
											To provide software and hardware e-KYC Solutions
											with AI, NFC, Face detection and recognition, Liveness
											for Bank, medical, insurance and payment gateways.
										</li>
										<li class="text-justify">
											Opportunity for investors and traditional brokerage to
											expand their existing business revenue through our
											white label turnkey solution.
										</li>
									</ul>
								</header><!-- end of main-heading -->
							</div>
						</div>
					</div>
					<div class="pad-top-lg hidden-sm"></div>
					<div class="img-box bg-img-full"
						style="background-image: url(../template/images/image_about010806.png);"></div>
				</section><!-- end of wedo section -->

				<div class="bg-grey pad-top-xs pad-bottom-xs">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<!-- start of line-box -->
								<div class="line-box">
									<!-- start of line -->
									<ul class="line list-inline img-partners">
										<li>
											<img src="../template/images/partners/partners-1_kingsford.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-2_phillip.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-3_set.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-4_tfex.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-5_spr.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-6_dst.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-8_CLASSIC.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-9_bte.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-10_Alice-blue-mutual.png"
												alt="image" class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-11_Upstox.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-12_EthicPro.png" alt="image"
												class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-13_Phillip-Capital.png"
												alt="image" class="img-responsive">
										</li>
										<li>
											<img src="../template/images/partners/partners-14_NSE.png" alt="image"
												class="img-responsive">
										</li>
									</ul><!-- end of line -->
								</div><!-- end of line-box -->
							</div>
						</div>
					</div>
				</div>


				<div class="container">
					<!-- start of main-heading -->
					<header class="main-heading text-center row pad-top-lg appear2">
						<div class="col-xs-12">
							<h2 class="heading"> Our Vision and Mission</h2>
							<p>
								Inspiring our clients by providing strategy, innovation, leadership and research
								<br>
								services that transform organizations worldwide.
							</p>
						</div>
					</header><!-- end of main-heading -->
					<div class="row mar-bottom-sm">
						<!-- start of icon-box -->
						<div class="col-xs-12 col-sm-12 mar-top-xs icon-box">
							<img src="../template/images/img_vision_visual_en.png" alt="image" class="img-responsive">
						</div><!-- end of icon-box -->
						<!-- start of icon-box -->
						<div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
							<img class="icon-style" src="../template/images/Icon_021551.png"
								style="float: left; margin: 13px 36px 0 0;" width="50" alt="">
							<!-- <span class="pe-7s-vector main-color icon"></span> -->
							<div class="holder appear2">
								<span class="title">Our Vision</span>
								<p class="text-justify">
									Our vision is to be a global leader in digital
									innovation, driving positive change across industries
									and shaping the future of business. We envision a
									world where technology seamlessly integrates with
									everyday operations, enabling businesses to thrive,
									connect with customers in meaningful ways, and
									unlock untapped potential. By leveraging cuttingedge technologies such as
									blockchain, AI, and
									biometrics, we aim to create a digital ecosystem
									that fosters trust, efficiency,
									and unparalleled user experiences.
									Through our visionary approach,
									we aspire to redefine industry
									norms and set new standards for
									digital transformation.
								</p>
							</div>
						</div><!-- end of icon-box -->
						<!-- start of icon-box -->
						<div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
							<img class="icon-style" src="../template/images/Icon_011551.png"
								style="float: left; margin: 13px 36px 0 0;" width="50" alt="">
							<!-- <span class="pe-7s-edit main-color icon"></span> -->
							<div class="holder appear2">
								<span class="title">Our Mission</span>
								<p class="text-justify ">
									Our mission is to empower businesses with
									cutting-edge digital solutions that
									revolutionize industries, enhance operational
									efficiency, and drive sustainable growth. We
									strive to provide innovative technologies
									that address key challenges in the market,
									enabling our clients to stay ahead of the
									curve and capitalize on emerging
									opportunities. With a commitment to
									excellence, security, and customercentricity, we aim to be the trusted partner
									for businesses seeking transformative digital
									solutions.
								</p>
							</div>
						</div><!-- end of icon-box -->
					</div>
				</div>

				<div class="border-top"></div>

				<section class="pad-top-lg">
					<div class="container">
						<!-- start of main-heading -->
						<header class="main-heading text-center row appear2">
							<div class="col-xs-12">
								<h2 class="heading">Meet our leadership team</h2>
								<p>When you create your startup the only way to win is to race ahead not to stop and
									fight.</p>
							</div>
						</header><!-- end of main-heading -->
						<div class="row pad-top-md">
							<div class="col-xs-12 col-sm-4 mar-bottom-md">
								<!-- start of team-box -->
								<div class="team-box text-center">
									<div class="img-box">
										<img src="../template/images/Frame_team201.jpg" alt="image"
											class="img-responsive">
									</div>
									<h3 class="heading">Dusit madan</h3>
									<span class="text">Founder & CEO</span>
								</div><!-- end of team-box -->
							</div>
							<div class="col-xs-12 col-sm-4 mar-bottom-md">
								<!-- start of team-box -->
								<div class="team-box text-center">
									<div class="img-box">
										<img src="../template/images/Frame_team202.jpg" alt="image"
											class="img-responsive">
									</div>
									<h3 class="heading">Chanin Torut</h3>
									<span class="text">R&D Manager</span>
								</div><!-- end of team-box -->
							</div>
							<div class="col-xs-12 col-sm-4 mar-bottom-md">
								<!-- start of team-box -->
								<div class="team-box text-center">
									<div class="img-box">
										<img src="../template/images/Frame_team203.jpg" alt="image"
											class="img-responsive">
									</div>
									<h3 class="heading">Kanjana Wattanavichean</h3>
									<span class="text">Business Developer & IT Manager</span>
								</div><!-- end of team-box -->
							</div>
						</div>
					</div>
				</section>



			</main><!-- end of page main section -->
			<!-- start of page footer -->
			<footer id="footer">
				<div class="bg-dark2 pad-top-lg pad-bottom-xs">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-3 mar-bottom-xs">
								<!-- logo -->
								<div class="logo"><a href="#">SBT</a></div>
								<p class="text-justify ">
									SMARTBLOCKTECH CO.,LTD.
									<br>
									77/39 12D Sinn Sathon Tower , Krung Thon Buri
									Road, Khlong Ton Sai, Khlong
									San, Bangkok 10600
								</p>
								<!-- social -->
								<ul class="list-inline social pad-top-xs">
									<li>
										<a href="https://www.facebook.com/profile.php?id=100090440596989"
											target="_blank">
											<img width="24" height="24"
												src="../template/images/icons-svg/img.icons-facebook.svg"
												alt="facebook-new" />
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/smartblocktech/" target="_blank">
											<img width="24" height="24"
												src="../template/images/icons-svg/img.icons-instagram.svg"
												alt="instagram-new" />
										</a>
									</li>
									<li>
										<a href="https://line.me/R/ti/p/@029aslzg" target="_blank">
											<img width="24" height="24"
												src="../template/images/icons-svg/img.icons-line.svg" alt="line-new" />
										</a>
									</li>
									<li>
										<a href="https://www.youtube.com/channel/UCfqus6qB8VFgtNQgnyigutg"
											target="_blank">
											<img width="24" height="24"
												src="../template/images/icons-svg/img.icons-youtube.svg"
												alt="youtube-new" />
										</a>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-2 mar-bottom-xs">
								<span class="title text-uppercase">Quick Links</span>
								<!-- start of company-link -->
								<ul class="list-unstyled footer_widget_menu">
									<li>
										<a href="about.html">About Us</a>
									</li>
									<li>
										<a href="our_products.html">Our Products</a>
									</li>
									<li>
										<a href="contact.html">Contact Us</a>
									</li>
								</ul><!-- end of company-link -->
							</div>
							<div class="col-xs-12 col-sm-3 mar-bottom-xs">
								<span class="title text-uppercase">Contact Us</span>
								<!-- start of contact-link -->
								<ul class="list-unstyled contact-link">
									<li class="d-block">
										<span class="d-block">Telephone:</span>
										<a href="tel:02-4381668">02 438 1668</a>
									</li>
									<li class="d-block">
										<span class="d-block">Email:</span>
										<a href="mailto:support@smartblocktech.ai">support@smartblocktech.ai</a>
								</ul><!-- end of contact-link -->
							</div>
							<div class="col-xs-12 col-sm-4 mar-bottom-xs">
								<span class="title text-uppercase">Get In Touch</span>
								<!-- start of email-form -->
								<form action="#" class="email-form">
									<label for="email-input">Get latest news & updates and special promotions.</label>
									<div class="holder">
										<input id="email-input" type="text" class="input" placeholder="Email address*">
										<button type="submit" class="btn btn-green">Subscribe</button>
									</div>
								</form><!-- end of email-form -->
							</div>
						</div>
					</div>
				</div>
				<!-- start of f-bottom -->
				<div class="bg-dark3 f-bottom">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span class="pull-left">© SMARTBLOCKTECH ❤️ 2023, All Rights Reserved.</span>
								<span class="pull-right"><a href="policy-privacy.html">Policy Privacy</a> &nbsp; &nbsp;
									&nbsp; &nbsp; <a href="terms-conditions.html">Terms &amp; Conditions</a></span>
							</div>
						</div>
					</div>
				</div><!-- end of f-bottom -->
			</footer><!-- end of page footer -->

			<!-- start of Cookie Banner -->
			<!-- <div class="cookie-banner" id="cookie-consent">
				<div class="cookie-container">
					<div class="cookie-message">
						<strong>We use cookies on our website.</strong> To learn how we use this information, please
						read our <a href="#">Private Policy.</a>
					</div>
					<div class="cookie-message-close">
						<a class="close-cookie-consent" href="javascript:;" id="close-consent">Okay!</a>
					</div>
				</div>
			</div> -->
			<!-- end of Cookie Banner -->
		</div>
		<!-- Back Top of the page -->
		<span id="back-top" class="pe-7s-angle-up main-bg-color"></span>
	</div><!-- end of main page wrapper -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/jquery.main.js"></script>

	<!-- Cookie Banner -->
	<script>
		$(document).ready(function () {
			setTimeout(function () {
				$("#cookie-consent").fadeIn(400);
			}, 1000);
			$("#close-consent").click(function () {
				$("#cookie-consent").fadeOut(400);
			});
		});
	</script>

	<!-- fade-in animation -->
	<script>
		const items = document.querySelectorAll('.appear2');

		const active = function (entries) {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					entry.target.classList.add('inview2');
				} else {
					entry.target.classList.remove('inview2');
				}
			});
		}
		const io2 = new IntersectionObserver(active);
		for (let i = 0; i < items.length; i++) {
			io2.observe(items[i]);
		}
	</script>
</body>

</html>