<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- set the encoding of your site -->
        <meta charset="utf-8">
        <!-- set the viewport width and initial-scale on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- set the apple mobile web app capable -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- set the HandheldFriendly -->
        <meta name="HandheldFriendly" content="True">
        <!-- set the apple mobile web app status bar style -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- set the description -->
        <meta name="description" content="Be - Startup Business HTML Template">
        <meta name="keywords"
            content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">
        <meta name="author" content="Be - Startup Business HTML Template">
        <!-- Page Title -->
        <title>SMARTBLOCKTECH</title>
        <!-- icon website in the root directory -->
        <link rel="icon" type="image/x-icon" href="../documentation/SBT32.ico">
        <!-- include the site stylesheet -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CWork+Sans:300,400,500,600"
            rel="stylesheet">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="css/fonts-icons.css">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="css/plugin-resets.css">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="style.css">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="products.css">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="css/color.css">
        <!-- Font Awesome CDN -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <!-- start of main page wrapper -->
        <div id="wrapper">
            <!-- start of preloader -->
            <div class="loader-container" id="loader">
                <div class="spinner spinner-round"></div>
            </div><!-- end of preloader -->
            <div class="w1">
                <!-- start of page header -->
                <header id="header">
                    <!-- header holder -->
                    <div class="header-holder">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- Page logo -->
                                    <div class="logo pull-left">
                                        <a href="index.html">
                                            <img
                                                src="../documentation/Logo_SBT.png"
                                                alt>
                                            SMART<span style="font-weight: 400;">BLOCKTECH</span>
                                        </a>
                                    </div>
                                    <div class="holder pull-right">
                                        <a href="#"
                                            class="pe-7s-menu menu-opener opener pull-right visible-xs"></a>
                                        <div class="cart-holder pull-right">
                                            <div class="drop-sub">
                                                <!-- side widget start here -->
                                                <div class="side-widget">
                                                    <!-- cart row start here -->
                                                    <div class="cart-row">
                                                        <a href="#" class="img"><img
                                                                src="http://placehold.it/50x50"
                                                                alt="image"
                                                                class="img-responsive"></a>
                                                        <div class="mt-h">
                                                            <span
                                                                class="mt-h-title"><a
                                                                    href="#">Classic
                                                                    Handbag</a></span>
                                                            <span class="price">1
                                                                × $48.00</span>
                                                        </div>
                                                        <a href="#"
                                                            class="close pe-7s-close"></a>
                                                    </div><!-- cart row end here -->
                                                    <!-- cart row start here -->
                                                    <div class="cart-row">
                                                        <a href="#" class="img"><img
                                                                src="http://placehold.it/50x50"
                                                                alt="image"
                                                                class="img-responsive"></a>
                                                        <div class="mt-h">
                                                            <span
                                                                class="mt-h-title"><a
                                                                    href="#">Stylish
                                                                    Hat</a></span>
                                                            <span class="price">2
                                                                × $18.00</span>
                                                        </div>
                                                        <a href="#"
                                                            class="close pe-7s-close"></a>
                                                    </div><!-- cart row end here -->
                                                    <!-- cart row start here -->
                                                    <div class="cart-row">
                                                        <a href="#" class="img"><img
                                                                src="http://placehold.it/50x50"
                                                                alt="image"
                                                                class="img-responsive"></a>
                                                        <div class="mt-h">
                                                            <span
                                                                class="mt-h-title"><a
                                                                    href="#">Modern
                                                                    Shoes</a></span>
                                                            <span class="price">1
                                                                × $50.00</span>
                                                        </div>
                                                        <a href="#"
                                                            class="close pe-7s-close"></a>
                                                    </div><!-- cart row end here -->
                                                    <!-- cart row total start here -->
                                                    <div class="cart-row-total">
                                                        <span
                                                            class="mt-total pull-left">SubTotal</span>
                                                        <span
                                                            class="mt-total-txt pull-right">$
                                                            134.00</span>
                                                    </div>
                                                    <!-- cart row total end here -->
                                                    <div class="cart-btn-row">
                                                        <a href="#"
                                                            class="btn-add btn">VIEW
                                                            CART</a>
                                                        <a href="#"
                                                            class="btn-full btn">CHECKOUT</a>
                                                    </div>
                                                </div><!-- mt side widget end here -->
                                            </div>
                                        </div>

                                        <!-- start of page navigation -->
                                        <nav id="nav" class="text-uppercase">
                                            <ul class="list-inline">
                                                <li><a href="home1.html">Home</a></li>
                                                <li><a href="about.html">About
                                                        Us</a></li>
                                                <li>
                                                    <a class="drop-link"
                                                        href="#"
                                                        style="color: rgb(17, 113, 238);">Projects</a>
                                                    <div class="drop">
                                                        <ul
                                                            class="list-unstyled">
                                                            <li><a
                                                                    href="p-trade_mission-detail.html">Trade
                                                                    Mission</a></li>
                                                            <li><a
                                                                    href="p-bitenium-detail.html">Bitenium</a></li>
                                                            <li><a
                                                                    href="p-ekyc-detail.html">E-kyc
                                                                    Solution</a></li>
                                                            <li class="active"><a
                                                                    href="p-superrich_crypto-detail.html">Superrich
                                                                    Crypto</a></li>
                                                            <li><a
                                                                    href="p-chatnshops-detail.html">Chatnshops</a></li>
                                                            <li><a
                                                                    href="p-cryptoXpress-detail.html">CryptoXpress</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="our_products.html">Our
                                                        Products</a></li>
                                                <li><a href="contact.html">Contacts</a></li>
                                            </ul>
                                        </nav><!-- end of page navigation -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header><!-- end of page header -->

                <!-- start of page main section -->
                <main id="main">
                    <!-- start of page-header -->
                    <div class="page-header text-center bg-img-full"
                        style="background-image: url(../template/images/image_banner.png);">
                        <span class="bg-overlay"></span>
                        <div class="container pad-top-xs pad-bottom-lg">
                            <div class="row pad-top-md pad-bottom-xs">
                                <div class="col-xs-12">
                                    <!-- start of breadcrumbs -->
                                    <ul class="list-inline breadcrumbs">
                                        <li><a href="home1.html">Home</a></li>
                                        <li>PROJECT INFORMATION SUPERRICH CRYPTO</li>
                                    </ul><!-- end of breadcrumbs -->
                                </div>
                            </div>
                        </div>
                    </div><!-- end of page-header -->

                    <section class="pro-1 project__detail-section"
                        style="background: url(../template/images/abstract-shapes-9.svg) center no-repeat;">
                        <div class="container pad-top-md">
                            <div class="row port-detail mar-bottom-xs">
                                <div class="col-xs-12 col-sm-8 mar-bottom-xs">
                                    <div class="mb-5">
                                        <h1>Exchange and OTC Desk</h1>
                                        <p>
                                            Deciding Between An Exchange and OTC
                                            Desk.
                                        </p>
                                    </div>
                                    <!-- Image -->
                                    <div class="project__box-color">
                                        <div class="image">
                                            <img class="img-fluid"
                                                src="../template/images/img04-pj_superrichcrypto.jpeg"
                                                alt="MissionSoftwareThailand | MST Company">
                                        </div>
                                        <div class="block-content">
                                            <span class="post-categories">
                                                <a
                                                    href="http://www.superrichcrypto.com/">
                                                    Web Site
                                                </a>
                                            </span>
                                            <h2
                                                class="cs-entry__title cs-entry__title-line">
                                                <a
                                                    href="http://www.superrichcrypto.com/">
                                                    <i class="fas fa-link"></i>
                                                    Link to website
                                                    Superrichcrypto
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <!-- End Image -->
                                </div>

                                <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                                    <div class="inner-column shadow-lg"
                                        style="height: 659px;">
                                        <h4>Project Information</h4>
                                        <div class="text text-justify">
                                            We saw the potential for
                                            Cryptocurrency to revolutionize the
                                            financial and
                                            Ecommerce industry,
                                            making payments faster, more secure,
                                            and less expensive on a global
                                            scale.
                                        </div>
                                        <ul
                                            class="list-unstyled nav nav-sm nav-x-0 nav-white flex-column">
                                            <li><i class="icon fas fa-globe"></i><strong>Website:
                                                </strong><a
                                                    href="http://www.superrichcrypto.com/">superrichcrypto.com</a></li>
                                            <li><i class="icon fas fa-bookmark"></i><strong>Category:
                                                </strong>OTC,
                                                Cryptocurrency, Merchant</li>
                                            <li><i
                                                    class="icon fas fa-calendar-alt"></i><strong>Date:
                                                </strong>June 2021
                                            </li>
                                        </ul>
                                        <img class="card-img-bottom"
                                            src="../template/images/icon-04.png"
                                            alt="MissionSoftwareThailand | MST Company">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main><!-- end of page main section -->

                <!-- start of page footer -->
                <footer id="footer">
                    <div class="bg-dark2 pad-top-lg pad-bottom-xs">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 mar-bottom-xs">
                                    <!-- logo -->
                                    <div class="logo"><a href="#">SBT</a></div>
                                    <p class="text-justify ">
                                        SMARTBLOCKTECH CO.,LTD.
                                        <br>
                                        77/39 12D Sinn Sathon Tower , Krung Thon
                                        Buri
                                        Road, Khlong Ton Sai, Khlong
                                        San, Bangkok 10600
                                    </p>
                                    <!-- social -->
                                    <ul class="list-inline social pad-top-xs">
                                        <li>
                                            <a
                                                href="https://www.facebook.com/profile.php?id=100090440596989"
                                                target="_blank">
                                                <img width="24" height="24"
                                                    src="../template/images/icons-svg/img.icons-facebook.svg"
                                                    alt="facebook-new" />
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://www.instagram.com/smartblocktech/"
                                                target="_blank">
                                                <img width="24" height="24"
                                                    src="../template/images/icons-svg/img.icons-instagram.svg"
                                                    alt="instagram-new" />
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://line.me/R/ti/p/@029aslzg"
                                                target="_blank">
                                                <img width="24" height="24"
                                                    src="../template/images/icons-svg/img.icons-line.svg"
                                                    alt="line-new" />
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://www.youtube.com/channel/UCfqus6qB8VFgtNQgnyigutg"
                                                target="_blank">
                                                <img width="24" height="24"
                                                    src="../template/images/icons-svg/img.icons-youtube.svg"
                                                    alt="youtube-new" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-2 mar-bottom-xs">
                                    <span class="title text-uppercase">Quick
                                        Links</span>
                                    <!-- start of company-link -->
                                    <ul class="list-unstyled footer_widget_menu">
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="our_products.html">Our
                                                Products</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul><!-- end of company-link -->
                                </div>
                                <div class="col-xs-12 col-sm-3 mar-bottom-xs">
                                    <span class="title text-uppercase">Contact
                                        Us</span>
                                    <!-- start of contact-link -->
                                    <ul class="list-unstyled contact-link">
                                        <li class="d-block">
                                            <span class="d-block">Telephone:</span>
                                            <a href="tel:02-4381668">02 438 1668</a>
                                        </li>
                                        <li class="d-block">
                                            <span class="d-block">Email:</span>
                                            <a
                                                href="mailto:support@smartblocktech.ai">support@smartblocktech.ai</a>
                                        </ul><!-- end of contact-link -->
                                    </div>
                                    <div
                                        class="col-xs-12 col-sm-4 mar-bottom-xs">
                                        <span class="title text-uppercase">Get
                                            In Touch</span>
                                        <!-- start of email-form -->
                                        <form action="#" class="email-form">
                                            <label for="email-input">Get latest
                                                news & updates and special
                                                promotions.</label>
                                            <div class="holder">
                                                <input id="email-input"
                                                    type="text" class="input"
                                                    placeholder="Email address*">
                                                <button type="submit"
                                                    class="btn btn-green">Subscribe</button>
                                            </div>
                                        </form><!-- end of email-form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- start of f-bottom -->
                        <div class="bg-dark3 f-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="pull-left">© SMARTBLOCKTECH
                                            ❤️ 2023, All Rights Reserved.</span>
                                        <span class="pull-right"><a
                                                href="policy-privacy.html">Policy
                                                Privacy</a> &nbsp; &nbsp;
                                            &nbsp; &nbsp; <a
                                                href="terms-conditions.html">Terms
                                                &amp; Conditions</a></span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end of f-bottom -->
                    </footer><!-- end of page footer -->

                    <!-- start of Cookie Banner -->
                    <!-- <div class="cookie-banner" id="cookie-consent">
				<div class="cookie-container">
					<div class="cookie-message">
						<strong>We use cookies on our website.</strong> To learn how we use this information, please
						read our <a href="#">Private Policy.</a>
					</div>
					<div class="cookie-message-close">
						<a class="close-cookie-consent" href="javascript:;" id="close-consent">Okay!</a>
					</div>
				</div>
			</div> -->
                    <!-- end of Cookie Banner -->
                </div>
                <!-- Back Top of the page -->
                <span id="back-top" class="pe-7s-angle-up main-bg-color"></span>
            </div><!-- end of main page wrapper -->
            <script src="js/jquery.js"></script>
            <script src="js/plugins.js"></script>
            <script src="js/jquery.main.js"></script>

            <!-- Cookie Banner -->
            <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#cookie-consent").fadeIn(400);
            }, 1000);
            $("#close-consent").click(function () {
                $("#cookie-consent").fadeOut(400);
            });
        });
    </script>
        </body>

    </html>